<section class="property-binding">

    <article>
        <h3>Interpolação</h3>
        <p>String renderizada com Interpolação: {{ url }}</p>
        <p>Resultado de 1+9 é: {{getValor()}}</p>
    </article>
    
    <article>
        <h3>Modificando estados</h3>
        <button (click)="setVoted()">Clique para votar</button>
        <p>{{getState()}}</p>
    </article>

    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImage }}"/>
        <img [src]="urlImage"/>
    </article>

    <article>
        <h3>Class e Style Binding</h3>
        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="alert-success">sucesso</option>
                <option value="alert-info">info</option>
                <option value="alert-warning">aviso</option>
                <option value="alert-danger">perigo</option>
            </select>

            <div class="alert" role="alert" [class.alert-success]="classe.value === 'alert-success'">
                A simple success alert—check it out!
            </div>
            <div class="alert" role="alert" [class.alert-info]="classe.value === 'alert-info'">
                A simple info alert—check it out!
            </div>
            <div class="alert" role="alert" [class.alert-warning]="classe.value === 'alert-warning'">
                A simple warning alert—check it out!
            </div>
            <div class="alert " role="alert" [class.alert-danger]="classe.value === 'alert-danger'">
                A simple danger alert—check it out!
            </div>
            

            <div class="alert {{classe.value}}">
                Texto colorido de acordo com o alert
            </div>

            <div class="alert alert-info" role="alert" [style.display]="classe.value === 'alert-info' ? 'block' : 'none'">
                Texto some se o alert for info
            </div>
        </div>
    </article>
</section>


<section class="event-binding">

    <h1> Event Binding </h1>
    <div>
        <button (click)="clickedButton()"
                class="btn btn-primary">
            clique
        </button>
    </div>
    <br>

    <p>Valor digitado: {{content}}</p>
    <p>Status de save: {{saved}}</p>
    <input  (keyup)="textChanged($event.target.value)"
            (keyup.enter)="saveValue()"
            (blur)="saveValue()"
            [value]=content
            placeholder="digite algo"
    />
    <br>
    <br>

    <p  (mouseenter)="onFocused()"
        (mouseleave)="onFocused()"
        [style.color]=style>
        Passe o mouse por cima
    </p>
</section>

<app-meu-form></app-meu-form>

<section class="input-output-properties">
    <h1>Input/Output properties</h1>
    <article *ngFor="let curso of nomeCursos">

        <app-curso [nome]="curso">
        </app-curso>    
    </article>

    <p>Mais novo valor: {{newValue}}</p>
    <p>Ultima operação feita: {{type}}</p>
    <contador [value]="initialValue"
                (changed)="onChangeValue($event)">
    </contador>
</section>
